# Estandarización

En este documento se procederá a estandarizar las variables seleccionadas de acuerdo al artículo.

A pesar que hay ciertos artículos que mencionan aplicar el standard scale, se optará por aplican min max scaler a todos los conjuntos, puesto que con los datos que tenemos no podemos asegurar que todas las variables pertenezcan a una distribución normal.

In [15]:
import pandas as pd
datos = pd.read_excel('02.Generación Pearson.xlsx')
datos.dtypes

Fecha               datetime64[ns]
Generación                 float64
Índice UV                  float64
Temperatura                  int64
Hora                         int64
DPT                          int64
Cobertura Nubes              int64
Condición Cielo              int64
Humedad Relativa             int64
dtype: object

In [4]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp39-cp39-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\claudia\anaconda3\envs\tesina_env\lib\site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\claudia\anaconda3\envs\tesina_env\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\claudia\anaconda3\envs\tesina_env\lib\site-packages (from scikit-learn) (1.4.2)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp39-cp39-win_amd64.whl (11.2 MB)
   ---------------------------------------- 0.0/11.2 MB ? eta -:--:--
   ------------------ --------------------- 5.2/11.2 MB 31.9 MB/s eta 0:00:01
   ---------------------------------------- 11.2/11.2 MB 33.2 MB/s eta 0:00:00
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scikit-learn
Successfully installed scikit-learn-1.6.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [16]:
from sklearn.preprocessing import MinMaxScaler

datos_scaled = datos.copy()

col_num = datos_scaled.select_dtypes(include=['number']).columns

scaler = MinMaxScaler()
datos_scaled[col_num] = scaler.fit_transform(datos_scaled[col_num])
datos_scaled.sample(4)

,Fecha,Generación,Índice UV,Temperatura,Hora,DPT,Cobertura Nubes,Condición Cielo,Humedad Relativa
11252,2023-12-14 19:00:00,0.000000,0.000000,0.358974,0.750000,0.55,0.98,1.00,0.783505
17108,2024-08-14 19:00:00,0.352733,0.000000,0.641026,0.750000,0.65,0.47,0.50,0.453608
7755,2023-07-21 02:00:00,0.000000,0.000000,0.487179,0.041667,0.75,0.23,0.00,0.762887
5946,2023-05-06 17:00:00,0.787333,0.142857,0.820513,0.666667,0.40,0.84,0.75,0.206186

In [ ]:
datos_scaled.to_excel("03.Generación MinMax.xlsx", header=True, index=False)

## CT-NET

Se aplicará MinMax para estandarizar sus variables.

In [9]:
datos = pd.read_excel('02.Generación Pearson CT-NET.xlsx')
datos.dtypes

Fecha               datetime64[ns]
Generación                 float64
Índice UV                  float64
Temperatura                  int64
Humedad Relativa             int64
dtype: object

In [10]:
datos_scaled = datos.copy()

col_num = datos_scaled.select_dtypes(include=['number']).columns

scaler = MinMaxScaler()
datos_scaled[col_num] = scaler.fit_transform(datos_scaled[col_num])
datos_scaled.sample(4)

,Fecha,Generación,Índice UV,Temperatura,Humedad Relativa
1210,2022-10-21 10:00:00,0.406567,0.142857,0.333333,0.814433
757,2022-10-02 13:00:00,0.906653,0.285714,0.512821,0.360825
13034,2024-02-27 01:00:00,0.000000,0.000000,0.410256,0.577320
10984,2023-12-03 15:00:00,0.527233,0.135714,0.307692,0.814433

In [11]:
datos.to_excel("03.Generación MinMax CT-NET.xlsx", header=True, index=False)

## Photovoltaic

Se aplicará MinMax para estandarizar la información

In [12]:
datos = pd.read_excel('02.Generación Pearson Photovoltaic.xlsx')
datos.dtypes

Fecha               datetime64[ns]
Generación                 float64
Índice UV                  float64
Temperatura                  int64
Hora                         int64
DPT                          int64
Cobertura Nubes              int64
Condición Cielo              int64
Humedad Relativa             int64
dtype: object

In [13]:
datos_scaled = datos.copy()

col_num = datos_scaled.select_dtypes(include=['number']).columns

scaler = MinMaxScaler()
datos_scaled[col_num] = scaler.fit_transform(datos_scaled[col_num])
datos_scaled.sample(4)

,Fecha,Generación,Índice UV,Temperatura,Hora,DPT,Cobertura Nubes,Condición Cielo,Humedad Relativa
14158,2024-04-15 22:00:00,0.000000,0.000000,0.641026,0.913043,0.65,0.92,1.0,0.463918
15127,2024-05-26 07:00:00,0.058333,0.071429,0.487179,0.260870,0.85,0.00,0.0,0.865979
18082,2024-09-26 10:00:00,0.770533,0.214286,0.487179,0.391304,0.75,0.70,1.0,0.752577
6487,2023-05-31 07:00:00,0.072433,0.071429,0.384615,0.260870,0.75,0.20,0.0,0.989691

In [14]:
datos.to_excel("03.Generación MinMax Photovoltaic.xlsx", header=True, index=False)